html, body {
    /*height: 100v;
  margin: 0;
  padding: 0;*/

}

body {
    background-image: url("http://www.eldersweather.com.au/images/maps/wzworld/world.png");
}
#map {
    height: 80vh;
    width: 50vw;
}

#pano {
    height: 80vh;
    width: 100vw;
}

h1 {
    text-align: center;
    height: 8vh
}

.mapView {
    width: 90vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;

}

#howFar {
    text-align: center;
    float: left;
}

#score {
    text-align: center;
    color: red;
    float: right;
}



#submitingGuess {
    /*flow-into: mapView;*/
}
